#delete {
    width:25px;
    min-width:20px;
  }
  #modify {
    width:25px;
    min-width:20px
  }
.pointer{cursor:pointer;}
.VueTables__table thead tr {
    background-color: #005998;
    color: #ffffff;
    text-align: left;
}
.VueTables__table tbody tr:last-of-type {
    border-bottom: 2px solid #005998;
}
.VueTables__table tbody tr.active-row {
    font-weight: bold;
    color: #005998;
}
.VuePagination {
    margin-top: 10px;
    display: grid;
    place-content: center;
  }
  .VuePagination p {
    padding: 0 !important;
    margin: 0 !important;
  }
  .table th, .table td {
    padding: 5px 10px !important;
  }
  .VueTables__heading {
    color: white;
  }